// main.scss
@import "_base";

h1 {
    color: tomato;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
}

// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

@keyframes animate {
    50% {
        filter: hue-rotate(0deg);
    }
    0%,
    100% {
        filter: hue-rotate(360deg);
    }
}

// use only the available space inside the 400x400 frame
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Courier New", "Courier", sans-serif;
    background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
    animation: animate infinite 10s ease;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .number {
        display: flex;
        height: 100px;
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        i {
            // number-1
            &:nth-child(1) {
                position: relative;
                height: 100%;
                width: 24px;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
                transform-style: preserve-3d;
                &::before {
                    content: "";
                    position: absolute;
                    height: 40px;
                    width: 20px;
                    z-index: -1;
                    background: #fff;
                    border-radius: 3px;
                    // transform: translateX(-15px) rotate(45deg);
                    transform-origin: 0 0;
                    transform: rotate(50deg) translateY(-2px) translateZ(-1px);
                }
            }
            // number-0
            &:nth-child(n + 2) {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 24px solid #fff;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }

    p {
        // line 2
        &:nth-child(2) {
            margin: 0;
            margin-top: 6px;
            text-transform: uppercase;
            font-size: 82px;
            font-weight: 700;
            letter-spacing: 0.04em;
            line-height: 60px;
        }
        // line 3
        &:nth-child(3) {
            margin: 0;
            text-transform: uppercase;
            font-size: 23px;
            font-weight: 700;
            letter-spacing: 0.04em;
            line-height: 20px;
        }
    }
}
